{{! write anything below this to get it featured on your front page }}
<section>
	<h1>Blog feed</h1>
	<p>Personal mumblings about tech, programming, architecture and all other thinkgs that I like to.</p>
</section>